<div class="comments title">
    <h3>Comments</h3>
    {{#each this}}
    <section class="comment">
        <div class="meta">
            <div class="text">
               <p>{{comments_text}}</p>
            </div>
            <p>{{user.username}} on {{ format_date created_at}}</p>
        </div>
    </section>
    {{/each}}
</div>