<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web-Dev Op-Ed</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="hero">
      <h1 class="app-title">
       Web-Dev Op-Ed
      </h1>
      <nav class="navigation flex-row">
              <button id="homepage" class="btn"><a href="/">Homepage</a></button>
              <button id="dashboard" class="btn"><a href="/">Dashboard</a></button>
              <button id="login" class="btn"><a href="/login">Login</a></button>
              <button id="logout" class="btn"><a href="/login">Logout</a></button>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>

</html>