<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input id="post-title" name="post-title" type="text" value="{{posts.title}}" />
        </div>
        <div>
            <label for="post-text">Text:</label>
            <textarea id="post-text" name="post-text">{{posts.posts_text}}</textarea>
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>