<form class="signup-form">
  <div>
    <input type="text" id="username-signup" />
    <label for="username-signup">Please enter a username.</label>
  </div>
  <div>
    <input type="password" id="password-signup" />
    <label for="password-signup">Please enter a password. Password must be at least 4 characters.</label>
  </div>
  <div>
    <button type="submit" class="btn">Signup</button>
  </div>
</form>
<script src='/javascript/signup.js'></script>